@font-face {
  font-family: "sinkin300";
  src: url("../fonts/SINKIN\ SANS\ FAMILY/OTF/SinkinSans-300Light.otf");
}

body {
  font-family: sinkin300, sans-serif;
}

.content {}

.bar {}

.profile {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.profile-item {
  width: fit-content;
}

.profile-name {
  width: fit-content;
  font-size: 4.2vw;
}

.profile-picture {
  max-width: 250px;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .profile-item {
    width: auto;
    text-align: center;
  }

  .profile-name {
    width: auto;
  }
}